@model IEnumerable<theworldcore.Model.Trip>
@{
    ViewBag.Title = "Hello";
}
<div class="row">
    <div class="col-md-12">
        <h2>Visit my trips</h2>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">My Trips</a>
    </div>
</div>