@model IEnumerable<theworldcore.Model.Trip>
@{
    ViewBag.Title = "Trips";
}
<div class="row">
    <div class="col-md-6">
        <div>
            <h2>The world!</h2>
            <p>This is going to be a fun site soon!</p>
        </div>
        <form method="post">
            <div class="form-group">
                <label>Date</label>
                <input  class="form-control"/>
            </div>
            <div class="form-group">
                <label>Loacation</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default">Cancel</button>
                <input type="submit" name="name" value="Add" class="btn-success"/>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Trips: </h3>
        @foreach (var trip in Model)
        {
               <div>@trip.Name</div>
        } 
    </div>
</div>